#sobrenos{
    background-color: #fff;

}

.sobrenos-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 100px;
}

.logo-sobrenos{
    width: 200px;
    height: 200px;
    object-fit: cover;

}

.img-sobrenos{
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 6px;
    border: 2px solid #7D5235;
}

.esquerda-sobrenos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.esquerda-sobrenos a {
    width: 300px;

}
.esquerda-sobrenos h3{
    color: #7D5235;
    font-weight: bold;
    
}

.esquerda-sobrenos p {
    font-size: medium;
    font-weight: 600;
    color: rgb(109, 109, 109);
}

@media screen and (max-width: 1000px){
    .sobrenos-container{
        display: flex;
        flex-direction: column-reverse
    }

    
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Aplicando a animação ao #cta */
#cta {
    opacity: 0;
    animation: slideInLeft 1s ease-out forwards;
}

/* Aplicando a animação ao #cta_buttons */
#cta_buttons {
    opacity: 0;
    animation: slideInLeft 1.2s ease-out forwards;
}

/* Aplicando a animação à .social-midia-buttons */
.social-midia-buttons {
    opacity: 0;
    animation: slideInLeft 1.4s ease-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.img-sobrenos {
    width: 400px; 
    opacity: 0;
    animation: slideIn 1s ease-out forwards;
}


